.nice-button {
  background-color: rgb(15, 98, 161);
  color: rgb(255, 255, 255);
  text-shadow: none;
  background-image: none;
  box-shadow: rgba(25, 27, 29, 0.15) 0px 0px 0px 0px inset;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  background-color: rgb(15, 98, 161);
  color: rgb(255, 255, 255);
}

.canvas-container {
  width: 100%;
  text-align:center;
}

#canvasBar {
  margin: auto;
  width: 50%;
}

#gopher {
  background: none;
  border: 0;
  position: absolute;
  width: 150px;
  right: 5%;
  top: 15%;
}

#author {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  font-size: 14px;
  color: #404040;
}